@model List<NewsSite.Models.View.ExchangesViewModel>

<div class="row w-100">

    <div class="card shadow mb-3 w-100">
        <div class="card-header">БНБ Фиксинги</div>
        <div class="card-body">

            <table>
                <tr>
                    <th>Име</th>
                    <th>Единица</th>
                    <th>Цена(BGN)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PerUnit</td>
                        <td>@item.Course</td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
