@model IEnumerable<NewsSite.Models.Data.Article>;
@{
    ViewData["Title"] = "All";
}

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.CreatedOn</td>
            <td>@item.ModifiedOn</td>
            <td>
                <button class="btn-primary">Edit</button>
                <button asp-controller="Articles" asp-action="Delete" class="btn-danger">Delete</button>
            </td>
        </tr>
    }

</table>
