@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Паролата беше възстановена";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола беше възстановена. Моля натиснете <a asp-page="./Login">тук</a> за да влезете.
</p>
