@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ 
    var allUsers = UserManager.Users.ToList();
}

<form class="h-100" style="overflow-y: scroll;">
    <table class="table table-hover table-bordered table">
        <tr>
            <th>Id</th>
            <th>Име</th>
            <th>Имейл</th>
            <th>Действия</th>
        </tr>
        @foreach (var user in allUsers)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <div class="btn-group">
                        <button asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Изтрий</button>
                    </div>
                </td>
            </tr>
        }

    </table>
</form>
