@using NewsSite.Services
@using NewsSite.ViewComponents
@inject ICategoryService categoryService;
@{
    var categories = await categoryService.GetAllAsync();
    categories = categories.OrderBy(x => x.Name).ToList();
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body class="d-flex flex-column">
    <header>
        <nav class="navbar main navbar-expand py-0" style="background-color:black">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="navbar-brand">
                        <img style="height: 24px;" class="img-fluid" src="~/logo.png" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social facebook mainNav" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social twitter mainNav" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social youtube mainNav" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social rss mainNav" href="#" target="_blank"><i class="fas fa-rss-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social github mainNav" href="https://github.com/IroncrossBG/NewsSite" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
                <partial name="_loginPartial.cshtml">
            </div>
        </nav>


        <nav class="navbar category shadow navbar-expand-lg p-0">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container w-100">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link category active py-3" href="/"><i class="fas fa-home"></i></a>
                        </li>

                        <li class="nav-item dropdown w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                БЪЛГАРИЯ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="България">Новини</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Политика">Политика</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Икономика">Икономика</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Финанси">Финанси</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Образование">Образование</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Здравеопазване">Здравеопазване</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Общество">Общество</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Криминални">Криминални</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" href="" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                СВЯТ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Свят">Новини</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Балкани">Балкани</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Европа">Европа</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Америка">Америка</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Азия">Азия</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Африка">Африка</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Други">Други</a>
                            </div>
                        </li>

                        <li class="nav-item w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3 " asp-controller="Categories" asp-action="Index" asp-route-name="Региони">
                                РЕГИОНИ
                            </a>
                        </li>

                        <li class="nav-item w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3 " asp-controller="Categories" asp-action="Index" asp-route-name="Мнения">
                                МНЕНИЯ
                            </a>
                        </li>


                        <li class="nav-item dropdown w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" href="" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                КУЛТУРА
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Култура">Новини</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Театър">Театър</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Книги">Книги</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Филми">Филми</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="Index" asp-route-name="Музика">Музика</a>
                            </div>
                        </li>

                        <li class="nav-item w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" asp-controller="Categories" asp-action="Index" asp-route-name="Спорт">
                                СПОРТ
                            </a>
                        </li>

                        <li class="nav-item w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" asp-controller="Categories" asp-action="Index" asp-route-name="Наука">
                                НАУКА
                            </a>
                        </li>

                        <li class="nav-item w-auto">
                            <a class="nav-link mainNav font-weight-bold py-3" asp-controller="Categories" asp-action="Index" asp-route-name="Лайфстайл">
                                ЛАЙФСТАЙЛ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container p-0">
        <main role="main" class="pb-3 flex-fill">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top navbar-fixed-bottom footer text-muted m-auto" style="background-color:black;">
        <div class="container">
            &copy; 2020 - NewsSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        function hideColumns() {
            if (window.innerWidth <= 576) {
                if ($(".rightColumn").is(":visible")) {
                    $(".rightColumn").hide();
                }
                if ($(".leftColumn").hasClass("col-9")) {
                    $(".leftColumn").removeClass("col-9");
                    $(".leftColumn").addClass("col");
                }
            } else {
                if ($(".rightColumn").is(":hidden")) {
                    $(".rightColumn").show();
                }
                if ($(".leftColumn").hasClass("col")) {
                    $(".leftColumn").removeClass("col");
                    $(".leftColumn").addClass("col-9");
                }
            }
        }

        $('.nav-tabs > li > a').hover(function () {
            $(this).tab('show');
        });

        window.onresize = hideColumns;
        window.onload = hideColumns;
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
