@using NewsSite.Services
@using NewsSite.ViewComponents
@inject ICategoryService categoryService;
@{
    var categories = categoryService.GetAll();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <title>@ViewData["Title"] - NewsSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body>
    <header>
        <nav style="background-color:black" class="navbar main navbar-expand py-0">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="navbar-brand">
                        <img style="height: 24px;" class="img-fluid" src="~/logo.png" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social mobile mainNav" href="#" target="_blank"><i class="fas fa-mobile-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social facebook mainNav" href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social twitter mainNav" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social youtube mainNav" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social rss mainNav" href="#" target="_blank"><i class="fas fa-rss-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social github mainNav" href="https://github.com/IroncrossBG/NewsSite" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
                <partial name="_loginPartial.cshtml">
            </div>
        </nav>

        <nav class="navbar category navbar-expand py-0">
            <div class="container">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link category active" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
                    </li>

                    @*@foreach (var category in categories)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@category.Name</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }*@

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">НОВИНИ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">БЪЛГАРИЯ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">СВЯТ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ПОЛИТИКА</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">КРИМИНАЛНИ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ИКОНОМИКА</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">МНЕНИЯ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">РЕГИОНАЛНИ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">НАУКА</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">СПОРТ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ЗДРАВЕ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">КУЛТУРА</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link mainNav" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">ЛАЙФСТАЙЛ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer style="background-color:black;" class="border-top navbar-fixed-bottom footer text-muted my-0 py-0">
        <div class="container">
            &copy; 2020 - NewsSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        $('.nav-tabs > li > a').hover(function () {
            $(this).tab('show');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
