@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav ml-auto">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline">
                <button class="btn btn-primary custom-btn btn-sm mr-1" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-lock"></i> Вход</button>
                <button class="btn btn-success btn-sm mr-1" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-tasks"></i> Регистрация</button>
            </form>
        </li>
    }
    else
    {
        <vc:login></vc:login>
    }
</ul>