@{
    ViewData["Title"] = "BG NOVINI";
}

<div class="container">
    <div class="container-fluid p-0 mt-1 mb-3">

        <div class="col-9 pr-2 pl-0 float-left leftColumn">
            <vc:main-articles></vc:main-articles>
            <hr class="row" />
            <vc:last-articles category-name="България"></vc:last-articles>
            <hr class="row" />
            <vc:last-articles category-name="Свят"></vc:last-articles>
            <hr class="row" />
            <vc:last-articles category-name="Икономика"></vc:last-articles>
            <hr class="row" />
        </div>
        <div class="col-3 p-0 float-right mobile-element rightColumn">
            <vc:search></vc:search>
            <vc:weather></vc:weather>
            <vc:exchanges filter="EUR,USD,GBP,CHF,RUB"></vc:exchanges>
        </div>
    </div>
</div>
