@using NewsSite.Services
@inject IArticlesService articlesService;
@{
    ViewData["Title"] = "Home Page";
    var articles = articlesService.GetAll();
}

@foreach (var article in articles)
{
    <div>
        <a href="/Articles/Id/@article.Id">@article.Title</a>
        <hr />
    </div>
}