@using NewsSite.Services
@using NewsSite.Models.Data
@inject IArticlesService articlesService;
@inject ICategoryService categoryService;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    var categories = categoryService.GetAll();
}

<div class="container">
    <div class="container-fluid p-0 mt-1">
        <!--left column-->
        <div class="col-9 pr-2 float-left">
            <vc:main-articles></vc:main-articles>
        </div>
        <!--right column-->
        <div class="col-3 h-100 p-0 float-right">
            <vc:top-articles></vc:top-articles>
        </div>
    </div>
</div>