@using NewsSite.Services
@inject ICategoryService categoryService;
@inject IArticlesService articlesService;
@{
    ViewData["Title"] = "Home Page";
    var categories = categoryService.GetAll();
    var articles = articlesService.GetAll();
}

@foreach (var article in articles)
{
    <div>
        <a href="/Articles/Id/@article.Id">@article.Title</a>
        <hr />
    </div>
}







@*<nav class="navbar navbar-clean">
        @foreach (var category in categories)
        {
            <h5 class="nav-item">@category.Name</h5>
        }
    </nav>*@