<form method="get">
    <div class="row w-100">
        <div class="card mb-3 w-100">
            <h5 class="card-header">Търсене</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="q">
                    <span class="input-group-btn">
                        <button asp-controller="Search" asp-action="Index" type="submit" class="btn btn-secondary">Търси</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
