@model NewsSite.Models.Input.CreateEditCategoryInputModel
@{
    ViewData["Title"] = "New";
}

    <form method="post">
        <div>
            <label>Name:</label><br />
            <input type="text" class="form-control" name="Name" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label>Content:</label><br />
            <textarea class="form-control" rows="15" name="Description">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <hr />
        <div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>