@model NewsSite.Models.View.LastArticlesViewModel

<div class="row w-100">
    <h5>@Model.Title</h5>
    <div class="card-group w-100">
        @foreach (var article in Model.Articles)
        {
            <div class="card col-2dot4 overflow-hidden">
                <img src="@article.ImageUrl" class="card-img-top" style="height:15vh" />
                <div class="card-body">
                    <p class="card-title mainText">@article.Title</p>
                    <p class="card-text text-muted">@article.CreatedOn.ToString("dd.MM.yyyy | hh:mm")</p>
                </div>
            </div>
        }
    </div>
</div>